<div
  class="<%= product.category %> card sm-mr-0 mr-5 sm:rounded-2xl basis-[200px] sm:basis-[300px] sm:min-h-[330px] grow-0 sm:hover:shadow-md sm:hover:translate-y-[-10px] sm:m-5 relative sm:border"
  style="display: none"
>
  <div
    class="top h-[100px] shrink-0 sm:mr-0 mr-5 rounded-lg w-full sm:h-[200px]"
  >
    <img
      src="/images/products/<%= product.category %>/<%= product.img %>"
      class="h-full w-full object-cover rounded-xl"
      alt="product image <%= product.title %>"
    />
  </div>
  <div class="w-full pys-2">
    <div class="body sm:px-5 sm:text-gray-600 sm:mt-3">
      <div class="title capitalize text-md font-bold sm:mb-2">
        <%= product.name %>
      </div>
      <div class="desc text-base"><%= product.desc.slice(0, 30) %>...</div>
    </div>
    <div
      class="bottom flex justify-between items-center sm:px-5 pt-1 sm:py-3 sm:text-lg text-base"
    >
      <div class="price">$ <%= product.price %></div>
      <div class="size uppercase"><%= product.size %></div>
    </div>
  </div>
</div>
